/* ---- Logo ---- */
@import '@resources';

.wrapper {
    @include flexible();
    @include transition();
    width: fit-content;
    cursor: pointer;

    &:hover {
        @include transition();
        opacity: 0.8;
        cursor: pointer;
    }
}

.icon {
    display: block;
    width: 36px;
    height: 36px;
    overflow: hidden;

    & svg {
        overflow: hidden;
    }
}

.title {
    @include font-size(24px);
    font-weight: 600;

    @include mq(520) {
        @include font-size(15px);
    }
}