/* ---- Projects ---- */
@import '@resources';

.title {
    display: block;
    text-align: center;

    & span {
        color: $theme-color;
    }
}

.row {
    position: relative;
    @include flexible();
    justify-content: space-between;
    margin-top: 50px;
    overflow-x: hidden;

    @include mq($tablet) {
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }
}

.subtitle {
    display: block;
    text-align: center;
    margin-bottom: 15px;

    & span {
        font-family: 'Raleway', sans-serif;
        color: $theme-color;
        font-weight: 600;
    }
}

.leftImage,
.rightImage {
    @include transition();
    position: relative;
    width: 400px;
    height: 305px;

    @include mq($laptop) {
        width: 240px;
        height: 182px;
    }

    @include mq($tablet) {
        width: 400px;
        height: 305px;
    }

    @include mq($phablet) {
        width: 189px;
        height: 145px;
    }

    &:hover {
        @include transition();
        transform: scale(1.1);
        opacity: 0.8;
    }
}


.more {
    @include font-size(20px);
    @include transition();
    display: block;
    text-decoration: underline;
    background: none;
    border: 2px solid #fff;
    border-radius: 5px;
    width: fit-content;
    padding: 10px 20px;
    margin-top: 30px;
    color: #fff;
    margin: 30px auto 0;
    cursor: pointer;

    &:hover {
        @include transition();
        background: #fff;
        color: $theme-color;
    }
}