/* ---- Services ---- */
@import '@resources';

.title {
    display: block;
    text-align: center;

    & span {
        color: $theme-color;
    }
}

.description {
    @include font-size(32px);
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;

    @include mq($tablet-large) {
        @include font-size(24px);
    }

    @include mq($tablet) {
        @include font-size(22px);
    }

    @include mq($phablet) {
        @include font-size(18px);
    }
}

.image {
    position: relative;
    width: 200px;
    height: 160px;
    margin: 0 auto;
}

.list {
    @include flexible();
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 50px;

    @include mq($phone) {
        gap: 30px;
    }
}

.item {
    max-width: 294px;
    height: 425px;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 20px 20px;
}

.label {
    @include font-size(22px);
    text-align: center;
    font-weight: 600;
    margin: 15px 0;
}

.text {
    @include font-size(18px);
}

.button {
    margin: 50px auto 0;

    @include mq($tablet-large) {
        margin: 20px auto 0;
    }

    @include mq($tablet-large) {
        @include font-size(22px);
    }

    @include mq($phablet) {
        @include font-size(18px);
        margin-top: 30px;
        width: 90%;
    }

    @include mq($phone) {
        @include font-size(14px);
    }
}